In [1]:
import pandas as pd # Importa a biblioteca pandas

In [2]:
df = pd.read_csv('imigrantes_canada.csv') # importa a base de dados

In [ ]:
df.head() # exibe as 4 primeiras linhas do dataframe

In [ ]:
df.info() # exibe as informações do dataframe

Tratamento de dados

In [5]:
df.set_index(['País'], inplace=True) # Seta o index com a coluna País
anos = list(map(str, range(1980,2013))) # converte os anos em string armazenados em uma lista

In [ ]:
anos # exibe como string

In [7]:
brasil =- df.loc['Brasil', anos] #Pega os dados somente para o pais brasil

In [ ]:
brasil

In [10]:
# Cria um dicionario com os dados do brasil
brasil_dic={
    'ano':brasil.index.tolist(),
    'imigrantes': brasil.values.tolist()
}

In [11]:
#Criando dataframe
df_brasil = pd.DataFrame(brasil_dic)

In [12]:
df_brasil

     ano  imigrantes
0   1980        -211
1   1981        -220
2   1982        -192
3   1983        -139
4   1984        -145
5   1985        -130
6   1986        -205
7   1987        -244
8   1988        -394
9   1989        -650
10  1990        -650
11  1991        -877
12  1992       -1066
13  1993        -866
14  1994        -566
15  1995        -572
16  1996        -586
17  1997        -591
18  1998        -531
19  1999        -626
20  2000        -845
21  2001        -847
22  2002        -745
23  2003        -839
24  2004        -917
25  2005        -969
26  2006       -1181
27  2007       -1746
28  2008       -2138
29  2009       -2509
30  2010       -2598
31  2011       -1508
32  2012       -1642

In [14]:
df_brasil.info() #exibe informações sobre o novo dataframe criado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ano         33 non-null     object
 1   imigrantes  33 non-null     int64
dtypes: int64(1), object(1)
memory usage: 660.0+ bytes