In [1]:
#Importando as bibliotecas
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#1-Preparação dos dados
#Importando a base de dados
data = pd.read_csv('dadosacoes.csv')

In [3]:
#Verificando os dados da base de dados
data.head()

  nome ação  preço ação R$  qtde cotas  valor de mercado R$ -(Bilhões)
0     VALE3            194          45                            2134
1     SUZB3             91          71                            3069
2     SUZB3            165          41                            2815
3     SUZB3             56          34                            3613
4    GOOGLE            212           9                            2975

In [4]:
#2- Exploração dos dados
#Criando o dataframe
df_investimentos = pd.DataFrame(data)

In [ ]:
df_produtos # Exibe os valores

In [ ]:
df_produtos.info() #exibe informações sobre o novo dataframe criado

In [ ]:
#Vendo as informações do dataframe
df_produtos.describe()